extends layout

block content
  .container#mainContent(ng-controller="addController")
    .row.p-b-3
      legend Amount to Bet
      .col-xs-10.col-xs-offset-2.col-sm-6.col-sm-offset-6.col-md-4.col-md-offset-4.form-group
        .input-group
          .input-group-addon $
          input#amount.form-control(type='number', ng-model="betAmount", placeholder='Amount to bet')
    .row.p-b-3
      legend Add Horse
      form.form
        .col-md-4.form-group
          input#name.form-control(type='text', ng-model='name', placeholder='Name')
        .col-md-4.form-group
          input.form-control(type='number', ng-model='odds', placeholder='Odds')
        .col-md-4.form-group.text-xs-center
          button.btn.btn-primary(type='submit', ng-click='addHorse()', data-toggle='tooltip', data-placement='top', title='Add horse to lineup') Add Horse
    .row.p-b-1
      legend Lineup
      .table-responsive
        table.table
          thead.thead-default
            tr
              th Name
              th Odds
          tbody
            tr(ng-repeat='horse in horses')
              td
                input.form-control(type='text', value='{{ horse.name }}', name="name{{ $index }}", id="name{{ $index }}", readonly)
              td
                input.form-control(type='number', steps='0.01', value="{{ horse.odds }}", name="odds{{ $index }}", id="odds{{ $index }}", readonly)
              td
                i.fa.fa-2x.fa-trash-o(aria-hidden='true', type='button', ng-click='removeHorse($index)', data-toggle='tooltip', data-placement='top', title="Remove from lineup")
    .col-xs-12.text-xs-center.p-b-3
      .col-xs-12.text-xs-center.col-md-5.text-md-right.m-t-1
        button.btn.btn-primary(ng-click='calculateBets()', data-toggle='tooltip', data-placement='top', title='Calculate your odds!') Submit
      .col-xs-12.text-xs-center.col-md-5.text-md-right.m-t-1
        button.btn.btn-danger(ng-click='reset()', data-toggle='tooltip', data-placement='top', title='Reset All Input Data') Reset
    .row.p-b-3
      legend Results
      .table-responsive
        table#raceResults.table.table-hover
          thead.thead-default
            tr
              th #
              th Name
              th Odds
              th Bet
              th Win
              th Less Bet
              th Profit
          tbody
            tr(ng-repeat='result in results')
              th(scope="row") {{ $index + 1}}
              td
                //input.form-control(type='text', value='{{ result.id }}', readonly)
                strong {{ result.id }}
              td
                //input.form-control(type='text', value="{{ result.odds }}", readonly)
                span {{ result.odds }}
              td
                //input.form-control(type='text', value="{{ result.bet }}", readonly)
                span $
                span {{ result.bet }}
              td
                //input.form-control(type='text', value="{{ result.result }}", readonly)
                span $
                span {{ result.result }}
              td
                //input.form-control(type='text', value="{{ result.resultLessBet }}", readonly)
                strong - 
                span $
                span {{ result.resultLessBet }}
              td
                //input.form-control(type='text', value="{{ result.profit }}", readonly)
                strong + 
                span $
                span {{ result.profit }}
      .text-xs-center.p-t-3
        input#raceName.form-control(type="text", ng-model="raceName", placeholder="Race Name")
        button.btn.btn-primary.m-t-2(ng-click="savePDF()", data-toggle='tooltip', data-placement='top', title='Save Race Results as PDF') Save Results
