doctype html
html(lang='en', ng-app='myApp')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/tether/dist/css/tether.min.css')
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/components/tether/dist/js/tether.min.js')
      script(src='/components/bootstrap/dist/js/bootstrap.min.js')
      script(src='/components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')
      script(src='/components/jspdf/dist/jspdf.min.js')
      script(src='/components/jspdf-autotable/dist/jspdf.plugin.autotable.js')
      script(src='/components/angular/angular.min.js')
      script(src='/js/split.js')
      script(src='/js/main.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
  nav.navbar-fixed-top.navbar-dark.bg-inverse.p-t-1.p-b-1
    a.navbar-brand.m-l-3(href='/') Horse Racing Calculator
    ul.nav.navbar-nav.pull-xs-right.list-unstyled.m-r-3
      li
        a.nav-item(href='https://github.com/tgrowden/horse-racing-calculator', target='_blank')
          i.fa.fa-3x.fa-github
  block content
