body {
  padding-top: 7rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.fa.fa-2x.fa-trash-o, .fa.fa-2x.fa-pencil-square-o, .fa-question {
  cursor: pointer;
}
a {
  color: #00B7FF;
}
a:hover {
  color: darken(#00B7FF, 15%);
}
